<?php
  //var_dump($news);
  /*echo "<br><br>";
  foreach ($news as $n => $val) {
    echo $val['title'] . "<br>";
  }*/

?>
<br>
<header><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script></header>

<div class="row">
  <div class="col-sm-7">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner +">
          <div class="item active">
            <img class="img-responsive" src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2017/10/graduatedcmu52.jpg" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img class="img-responsive" src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2015/08/banner-1024x483.jpg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img class="img-responsive" src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2015/09/counterservice.jpg" alt="New york" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-sm-5" style="font-size:1.5rem">
    <ul class="nav nav-tabs">
      <?php if($ac != 2 && $ac != 3){ echo '<li class="active"><a data-toggle="tab" href="#menu1">ข่าวประชาสัมพันธ์</a></li>';}
            else {echo '  <li><a data-toggle="tab" href="#menu1">ข่าวประชาสัมพันธ์</a></li>';}

            if($ac == 2){ echo '<li class="active"><a data-toggle="tab" href="#menu2">ข่าวสำหรับนักศึกษา</a></li>';}
                  else {echo '  <li><a data-toggle="tab" href="#menu2">ข่าวสำหรับนักศึกษา</a></li>';}

            if($ac == 3){ echo '<li class="active"><a data-toggle="tab" href="#menu3">ข่าวปฏิทินการศึกษา</a></li>';}
                  else {echo '  <li><a data-toggle="tab" href="#menu3">ข่าวปฏิทินการศึกษา</a></li>';}
          ?>

      <!-- <li><a data-toggle="tab" href="#menu2">ข่าวสำหรับนักศึกษา</a></li>
      <li><a data-toggle="tab" href="#menu3">ข่าวปฏิทินการศึกษา</a></li> -->
    </ul>
    <div class="tab-content">

      <?php if($ac != 2 && $ac != 3){ echo '<div id="menu1" class="tab-pane fade in active"><br>';}
            else {echo '<div id="menu1" class="tab-pane fade"><br>';}
        $count = 0;
        $count1 = 0 ;
        $round = 1;
            foreach($news as $anews => $val){
              if($val["category"] == 1){
                  $count1++;
                  if($round >= (($ca1-1)*4)+1 && $round <= $ca1*4){
                    echo $val["title"] . "<br><hr>";

              }
              $round++;
            }

          }
///////////////////////////////
        ?>

        <center><nav aria-label="Page navigation example">
          <ul class="pagination">

              <?php if($ca1 == 1){?>
                <li class="page-item disabled">
              <a class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php  echo "1&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>">1</a></li>
            <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php   echo "1&ca1=2&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>">2</a></li>
            <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php echo "1&ca1=3&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>">3</a></li>

            <li class="page-item">
              <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca1 + 1 ; echo "1&ca1=".$ca_next."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav></center>
              <?php } else { ?>
                <li class="page-item">
                <a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca1 -1 ; echo "1&ca1=".$ca_pre."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca1 -1 ; echo "1&ca1=".$ca_pre."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca1 - 1; ?></a></li>
            <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php   echo "1&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca1 ; ?></a></li>
            <?php if($ca1 < ceil($count1/4)){ ?>
            <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca1 + 1 ; echo "1&ca1=".$ca_next."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca_next; ?></a></li>
            <li class="page-item">
              <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca1 + 1 ; echo "1&ca1=".$ca_next."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          <?php }
          //////////////////////////
          else{
            ?>
            <li class="page-item disabled"><a class="page-link" ><?php echo $ca1 + 1; ?></a></li>
            <li class="page-item disabled">
              <a class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <?php
          }
          ?>

          </ul>
        </nav></center>
                <?php
              } ?>
<!-- ####################################### -->


      </div>
      <?php if($ac == 2){ echo '<div id="menu2" class="tab-pane fade in active"><br>';}
            else {echo '<div id="menu2" class="tab-pane fade"><br>';}
        $count2 = 0 ;
        $round = 1;
              foreach($news as $anews => $val){
                if($val["category"] == 2){
                    $count2++;
                    if($round >= (($ca2-1)*4)+1 && $round <= $ca2*4){
                      echo $val["title"] . "<br><hr>";

                }
                $round++;
              }

            }
  ///////////////////////////////
          ?>

          <center><nav aria-label="Page navigation example">
            <ul class="pagination">

                <?php if($ca2 == 1){?>
                  <li class="page-item disabled">
                <a class="page-link"  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php  echo "2&ca1=".$ca1."&ca2=1&ca3=".$ca3."&ca4=".$ca4 ;?>">1</a></li>
              <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php   echo "2&ca1=".$ca1."&ca2=2&ca3=".$ca3."&ca4=".$ca4 ;?>">2</a></li>
              <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php echo "2&ca1=".$ca1."&ca2=3&ca3=".$ca3."&ca4=".$ca4 ;?>">3</a></li>

              <li class="page-item">
                <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca2 + 1 ; echo "2&ca1=".$ca1."&ca2=".$ca_next."&ca3=".$ca3."&ca4=".$ca4 ;?>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav></center>
                <?php } else { ?>
                  <li class="page-item">
                  <a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca2 -1 ; echo "2&ca1=".$ca1."&ca2=".$ca_pre."&ca3=".$ca3."&ca4=".$ca4 ;?>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca2 -1 ; echo "2&ca1=".$ca1."&ca2=".$ca_pre."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca2 - 1; ?></a></li>
              <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php   echo "2&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca2 ; ?></a></li>
              <?php if($ca2 < ceil($count2/4)){ ?>
              <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca2 + 1 ; echo "2&ca1=".$ca1."&ca2=".$ca_next."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca_next; ?></a></li>
              <li class="page-item">
                <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca2 + 1 ; echo "2&ca1=".$ca1."&ca2=".$ca_next."&ca3=".$ca3."&ca4=".$ca4 ;?>"  aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            <?php }
            //////////////////////////
            else{
              ?>
              <li class="page-item disabled"><a class="page-link" ><?php echo $ca2 + 1; ?></a></li>
              <li class="page-item disabled">
                <a class="page-link"  aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <?php
            }
            ?>

            </ul>
          </nav></center>
                  <?php
                } ?>

      </div>
    <?php if($ac == 3){ echo '<div id="menu3" class="tab-pane fade in active"><br>';}
          else {echo '<div id="menu3" class="tab-pane fade"><br>';}
          $count3 = 0 ;
          $round = 1;
                foreach($news as $anews => $val){
                  if($val["category"] == 3){
                      $count3++;
                      if($round >= (($ca3-1)*4)+1 && $round <= $ca3*4){
                        echo $val["title"] . "<br><hr>";

                  }
                  $round++;
                }

              }
        ///////////////////////////////
            ?>

            <center><nav aria-label="Page navigation example">
              <ul class="pagination">

                  <?php if($ca3 == 1){?>
                    <li class="page-item disabled">
                  <a class="page-link"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php  echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=1&ca4=".$ca4 ;?>">1</a></li>
                <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php   echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=2&ca4=".$ca4 ;?>">2</a></li>
                <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=3&ca4=".$ca4 ;?>">3</a></li>

                <li class="page-item">
                  <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca3 + 1 ; echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca_next."&ca4=".$ca4 ;?>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav></center>
                  <?php } else { ?>
                    <li class="page-item">
                    <a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca3 -1 ; echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca_pre."&ca4=".$ca4 ;?>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca3 -1 ; echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca_pre."&ca4=".$ca4 ;?>"><?php echo $ca3 - 1; ?></a></li>
                <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php   echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca3 ; ?></a></li>
                <?php if($ca3 < ceil($count3/4)){ ?>
                <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca3 + 1 ; echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca_next."&ca4=".$ca4 ;?>"><?php echo $ca_next; ?></a></li>
                <li class="page-item">
                  <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca3 + 1 ; echo "3&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca_next."&ca4=".$ca4 ;?>"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              <?php }
              //////////////////////////
              else{
                ?>
                <li class="page-item disabled"><a class="page-link" ><?php echo $ca3 + 1; ?></a></li>
                <li class="page-item disabled">
                  <a class="page-link"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <?php
              }
              ?>

              </ul>
            </nav></center>
                    <?php
                  } ?>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<hr>
<div class="row">
  <br>
<!--  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">-->
      <?php
            $arr_detail = [];
            $arr_title = [];
            $date = [];


            foreach($news as $anews => $val){
              if($val["category"] == 4){
                $arr_detail[] = $val["detail"];
                $arr_title[] = $val["title"];
                $date[] = $val["time"];
                $count++;
              }
            }

            for ($i=($ca4 - 1)*6; $i < sizeof($arr_detail); $i++) {
              if($i < $ca4*6){
              $detail = $arr_detail[$i];
              $start = strpos($detail, '<img');
              $length = strpos($detail, 'style="width: 300px;">') - $start;
              $img_tag = substr($detail, $start, $length);
              $img_tag = $img_tag . ' alt="">';
              $img_tag = substr_replace($img_tag, ' class="card-img-top fixsize2"', 4,0);
              //echo htmlentities($img_tag);
              //echo " " . $img_tag . "<br><hr>";
              ?>
              <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100" style = "height:364.6px;"> <?php echo $img_tag; ?>
              </a><div class="card-body"><h4 class="card-title"><p> <?php echo $arr_title[$i]; ?>
              </p></h4><form action="index/viewnews" method="POST">
                <input type="hidden" value='<?php echo $arr_detail[$i]; ?>' name="detail"/>
                <input type="hidden" value='<?php echo $date[$i]; ?>' name="date"/>
                <input type="hidden" value='<?php echo $arr_title[$i]; ?>' name="title"/>
                <button type="submit"class="btn btn-info btn-lg">see more..</button></form><br><br></div></div></div>

              <?php
              }
            } ?>


<hr style="clear: both;">
<center><nav aria-label="Page navigation example">
  <ul class="pagination">

      <?php if($ca4 == 1){?>
        <li class="page-item disabled">
      <a class="page-link"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php  echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=1" ;?>">1</a></li>
    <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php   echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=2" ;?>">2</a></li>
    <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca4 + 1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=3" ;?>">3</a></li>

    <li class="page-item">
      <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca4 + 1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca_next ;?>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav></center>
      <?php } else { ?>
        <li class="page-item">
        <a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca4 -1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca_pre ;?>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="/23_november/index?ac=<?php $ca_pre = $ca4 -1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca_pre ;?>"><?php echo $ca4 - 1; ?></a></li>
    <li class="page-item active"><a class="page-link" href="/23_november/index?ac=<?php   echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca4 ;?>"><?php echo $ca4 ; ?></a></li>
    <?php if($ca4 < ceil($count/6)){ ?>
    <li class="page-item "><a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca4 + 1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca_next ;?>"><?php echo $ca_next; ?></a></li>
    <li class="page-item">
      <a class="page-link" href="/23_november/index?ac=<?php $ca_next = $ca4 + 1 ; echo $ac."&ca1=".$ca1."&ca2=".$ca2."&ca3=".$ca3."&ca4=".$ca_next ;?>"  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  <?php }
  //////////////////////////
  else{
    ?>
    <li class="page-item disabled"><a class="page-link" ><?php echo $ca4 + 1; ?></a></li>
    <li class="page-item disabled">
      <a class="page-link"  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <?php
  }
  ?>

  </ul>
</nav></center>
        <?php
      } ?>




<style>

.fixsize1{
  height: 50%;
  width: 90%;
}

img.fixsize2{
  height: 240.06px;
  width: 100%;
}

div.divsize{
  width: 100%;
  height: 20%;
}
</style>
