<div class="row">
  <!-- Post Content Column -->
  <div class="col-lg-11">
    <!-- Title -->
    <h2 class="mt-4"><?php echo $title; ?></h2>
    <hr>
    <!-- Date/Time -->
    <p>Posted on <?php echo $date; ?></p>
    <hr>

    <div>

    </div>

    <!-- Preview Image
    <div id="myCarousel" class="carousel slide fixsize1" data-ride="carousel">-->
        <!-- Indicators
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides
        <div class="carousel-inner fixsize1">
          <div class="item active">
            <img src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2017/11/IMG_0098.jpg" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2017/11/IMG_0084.jpg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="https://www1.reg.cmu.ac.th/web/wp-content/uploads/2017/11/IMG_0098.jpg" alt="New york" style="width:100%;">
          </div>
        </div>-->

        <!-- Left and right controls
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>-->

    <hr>

    <!-- Post Content -->
    <?php echo $detail;?>
    <hr>
  </div>

</div>
<!-- /.row -->
</div>


<style>
.fixsize1{
  height: 500px;
  width: 1043px;
}

</style>
