<?php


$file = file_get_contents('https://www3.reg.cmu.ac.th/regist160/public/result.php?id=580611047');
$arr_c=[];
$arr_s=[];
$doc = new DOMDocument("1.0", "utf-8");
@$doc->loadHTML(mb_convert_encoding($file, 'HTML-ENTITIES', 'UTF-8'));
$doc->preserveWhiteSpace = false;

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '57'){
                $arr_c[]=$td->nodeValue;
            }
        }
    }
}

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '157'){
                $arr_s[]=$td->nodeValue;
            }
        }
    }
}

$file_ex = file_get_contents('https://www3.reg.cmu.ac.th/regist160/exam/index.php?type=FINAL&term=160' );

$arr_ex1= [[]];
$arr_ex2=[];
$arr_ex3=[];
$arr_exday = [];

$doc_ex = new DOMDocument("1.0", "utf-8");
@$doc_ex->loadHTML($file_ex);
$doc_ex->preserveWhiteSpace = false;

$count2 = array_fill(0, 4, 0);               
    foreach($doc_ex->getElementsByTagName('tr') as $tr_ex){
        if ($tr_ex->getAttribute('bgcolor') == "#FFFFFF"){                 
            foreach($tr_ex->getElementsByTagName('td') as $td_ex){
                if (preg_match('/[0-9]+/', $td_ex->nodeValue)){
                    $count = 0;                            
                    foreach($tr_ex->getElementsByTagName('td') as $tdd_ex) {
                        if ($count == 0) {
                            $arr_exday[]  = $tdd_ex->nodeValue;
                        }
                        if ($count == 1) {
                            $subjects = explode(",", $tdd_ex->nodeValue);
                            $count3 = 0;
                            foreach($subjects as $s){
                                $s = preg_replace( "/\r|\n|\t/", "", $s);
                                $arr_ex1[$count2[0]][$count3] = $s;
                                $count3++;
                            }
                            $count2[0]++;
                        }
                        if ($count == 2) {
                            $subjects = explode(",", $tdd_ex->nodeValue);
                            $count3 = 0;
                            foreach($subjects as $s){
                                $s = preg_replace( "/\r|\n|\t/", "", $s);
                                $arr_ex2[$count2[1]][$count3] = $s;
                                $count3++;
                            }
                            $count2[1]++;
                        }
                        if ($count == 3) {
                            $subjects = explode(",", $tdd_ex->nodeValue);
                            $count3 = 0;
                            foreach($subjects as $s){
                                $s = preg_replace( "/\r|\n|\t/", "", $s);
                                $arr_ex3[$count2[2]][$count3] = $s;
                                $count3++;
                            }
                            $count2[2]++;
                        }
                        $count++;
                    }
                }                        
                break;
            }
        }
                
    }
?>
<div class="row">
    <table class="table table-bordered"> 
        <thead> 
        	<tr> 
        		<th>#</th> 
    			<th>8:00 - 11:00</th> 
    			<th>13:00 - 15:00</th> 
        		<th>15:30 - 18:30</th> 
        	</tr> 
        </thead> 
    	<tbody id="test"></tbody> 
    </table>
</div>
<script>
    var day_ex = <?php echo json_encode($arr_exday); ?>;
    var s_ex1 = <?php echo json_encode($arr_ex1); ?>;
    var s_ex2 = <?php echo json_encode($arr_ex2); ?>;
    var s_ex3 = <?php echo json_encode($arr_ex3); ?>;
    var s_c = <?php echo json_encode($arr_c); ?>;
    var s = <?php echo json_encode($arr_s); ?>;
    var out = "";

    for (var i = 0; i < day_ex.length; i++) {
        out += '<tr><th scope="row">'+day_ex[i]+'</th>';
        for(var j = 0; j < s_c.length; j++){
            var temp = "";
            if (s_ex1[i].includes(s_c[j])) {
                temp = "<td>"+s[j]+"</td>";
                break;
            }else{
                temp = "<td></td>";
            }
        }
        out += temp;
        for(var j = 0; j < s_c.length; j++){
            var temp = "";
            if (s_ex2[i].includes(s_c[j])) {
                temp = "<td>"+s[j]+"</td>";
                break;
            }else{
                temp = "<td></td>";
            }
        }
        out += temp;
        for(var j = 0; j < s_c.length; j++){
            var temp = "";
            if (s_ex3[i].includes(s_c[j])) {
                temp = "<td>"+s[j]+"</td>";
                break;
            }else{
                temp = "<td></td>";
            }
        }
        out += temp + "</tr>";
    }
    document.getElementById('test').innerHTML = out;
</script>