<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Phalcon PHP Framework</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="navbar-header" style="position:relative">
  <a class="navbar-brand" href="/23_november/index">
    <img src="/23_november/public/img/21761693_277162666113306_2139003101507179693_n.png" class="img-circle" width="30" height="30" class="d-inline-block align-top" style="margin: auto;" alt="">
  </a>
</div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/23_november/index">Home</a></li>
    <li><a href="/23_november/profile/inputtimetable">Timetable</a></li>
    <li><a href="/23_november/profile/inputexam">Exam</a></li>
  </ul>
</nav>

        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
<style>

</style>
