<header><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script></header>
<div id="Edit_and_Save" name="body" class="container">
	<div name="head" class="row" style="height: 225px;">

<!-- work space -->
	<div class="row" style="height: 225px;">
		<form>
      		<input type="file" id="drop_zone" class="FileUpload" accept=".jpg,.png,.gif" onchange="liveimg(this)"/>
		</form>
		<div class="wrapper">
			<img name="cover-img" src="img/cover-default.jpg" class="dropZoneOverlay img-responsive">
		</div>
		<div name="photo_and_name" class="col-md-5 col-md-offset-1" style="top: -202px;">
				<from name="profile_image" class="img_div">
					<input type="file" id="drop_zone" class="FileUpload" accept=".jpg,.png,.gif" onchange="liveimg()" style="width: 150px;height: 150px;" />
					<img id="profile_pic" src="img/account.png" alt="Responsive imge" class="img-responsive img-circle" style="position: relative;top: -150px;">
				</from>
				<div name ="profile_name" class="nick_name_positon">
					<h3>
						DEW
					</h3>
				</div>
			</div>
	</div>
<!-- work space -->

	</div>
	<div name="profile_text" class="row"  style="clear: both; position: relative; top: -150px;">
		<!-- Profile Menu -->
		<div name="profile_menu" class="col-md-3">
		<ul class="nav nav-pills nav-stacked" style="text-align: center;">
        	<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        	<li><a href="#calendar" data-toggle="tab">Calendar</a></li>
        	<li><a href="#time_table" data-toggle="tab">Time Table</a></li>
        	<li><a href="#exam_table" data-toggle="tab">Exam Table</a></li>
      	</ul>
		</div>
		<!-- change page -->
		<div name = "status_location" class="col-md-9">
			<div name = "status_header" class="header_text">
				<h3>Profile</h3>
			</div>
			<div name="status" class="status_text">
				<p>Name: Tanakorn Malajak</p>
				<p>Faculty: Engineering</p>
				<p>Major: Information System and Network Engineering</p>
				<p>Student Code: 580611024</p>
			</div>
		</div>
	</div>
</div>

<style>

/*cover image size*/
	.cover_div{
		width: 100%;
		height: 150px;
   		background-repeat: no-repeat;
		background-color: #9e9e9e; /*change to image*/
	}
/*profile image size*/
	.img_div{
		width: 150px;
		height: 150px;
		float: left;
	}
	.nick_name_positon{
		position: relative;
		top: 80.5px;
		left: 10px;
	}
	.button_position{
		position: relative;
		top: 20.5px;
		text-align: right;
		margin-right: 20px;
	}
	.header_text{
		text-align: center;
		padding-top: 3px;
		padding-bottom: 3px;
		background-color: #9e9e9e; /*change color*/
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.status_text{
    	padding-top: 20px;
    	padding-left: 25px;
    	padding-bottom: 20px;
    	font-size: 18px;
    	background-color: #e5e5e5;
    	border-bottom-right-radius: 5px;
    	border-bottom-left-radius: 5px;
    }

    /* choose file */
    .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 75px 0px 75px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: relative;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: relative;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


.dropZoneOverlay {
	width: 100%;
	position: relative;
}

.FileUpload {
	width: 100%;
	height: 150px;
    opacity: 0;
    position: relative;
    z-index: 1;
}
.wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    top: -150px;
    background-position: center center;
}

</style>

<script>

function liveimg(pic){
	$("#profile_pic").attr("src", target.result);
}
</script>
