<body>
  <div class="container well well-lg">

  <form method="post" class="form-inline " action="/23_november/profile/timetable" style="margin: 15px 0px">
     <h2 >TIMETABLE</h2>
     <div class="row" style="margin-left: auto;margin-right: auto;">

  <div class="form-group">
    <label >STUDENT CODE:</label>
    <input type="text" name="student_id" class="form-control" id="id">
  </div>
  <div class="form-group">
    <label >TERM:</label>
    <select name="term" class="form-control">
  <option>1</option>
  <option>2</option>
</select>
  </div>
  <div class="form-group">
    <label>YEAR(25XX):</label>
    <select name="year" class="form-control">
      <option>60</option>
      <option>59</option>
  <option>58</option>


</select>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</div>

</form>
</div>
</body>
