
<?php

$file = file_get_contents($url);
$arr_s=[];
$arr_c=[];
$arr_sec=[];
$arr_days=[];
$start_t=[];
$end_t=[];
$arr_t=[];
$doc = new DOMDocument("1.0", "utf-8");
@$doc->loadHTML(mb_convert_encoding($file, 'HTML-ENTITIES', 'UTF-8'));
$doc->preserveWhiteSpace = false;

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '157'){
                $arr_s[]=$td->nodeValue;
            }
        }
    }
}

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '57'){
                $arr_c[]=$td->nodeValue;
            }
        }
    }
}

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '35' && $td->getAttribute('bgcolor') == '#FFFFFF'){
                $arr_sec[]=$td->nodeValue;
            }
        }
    }
}

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '35' && $td->getAttribute('bgcolor') == '#E3F1FF'){
                $arr_days[]=$td->nodeValue;
            }
        }
    }
}

foreach ($doc->getElementsByTagName('tr') as $tr) {
    if($tr->getAttribute('class') == 'msan8' ){
        foreach($tr->getElementsByTagName('td') as $td){
            if($td->getAttribute('width') == '62'){
                $arr_t[]=$td->nodeValue;
            }
        }
    }
}
$cout=1;
foreach ($arr_t as $key) {
    $start_t[$cout]=substr($key,0,2).':'.substr($key,2,3);
    $end_t[$cout]=substr($key,7,2).':'.substr($key,9,2);
    $cout++;

}

?>

<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>
    <script src="../src/templates/templates.js"></script>
    <script src="../src/scheduler.js"></script>

    <script src="../dist/scheduler.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/scheduler.css">
    <style>
        .meeting{
            background-color: rgba(255, 188, 0, 0.3);
        }
        .nonsense{
            background-color: rgba(255, 18, 0, 0.3);
        }
        .racing{
            background-color: rgba(0, 79, 255, 0.3);
        }
        #scheduler{
            border: 1px solid #e7e7e7;
        }
    </style>
</head>
<body>
    <div class="container">
    <h3 class="text-center">Timetable</h3>
        <div id="scheduler"></div>

    </div>
    <script>
        $(document).ready(function(){

            var list = [
              {
                  'name': 'Sunday',
                  'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'Su' || $arr_days[$i-2] == 'Fri')
                  {?>
                      {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                  <?php  }}?>
                  ]
              },
                {
                    'name': 'Monday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'MTh' || $arr_days[$i-2] == 'Mo')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                },
                {
                    'name': 'Tuesday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'TuF' || $arr_days[$i-2] == 'Tu')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                },
                {
                    'name': 'Wednesday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'Wed' || $arr_days[$i-2] == 'We')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                },
                {
                    'name': 'Thursday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'MTh' || $arr_days[$i-2] == 'Thu')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                }
                ,
                {
                    'name': 'Friday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'TuF' || $arr_days[$i-2] == 'Fri')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                }
                ,
                {
                    'name': 'Saturday',
                    'appointments': [<?php for($i=2;$i<$cout;$i++){if($arr_days[$i-2]== 'Sa' || $arr_days[$i-2] == 'Fri')
                    {?>
                        {'start': '<?php echo $start_t[$i];?>', 'end': '<?php echo $end_t[$i];?>', 'title': '<?php echo $arr_s[$i-1];?>'},
                    <?php  }}?>
                    ]
                }

            ];


            var steps = [
                '08:00',
                '08:30',
                '09:00',
                '09:30',
                '10:00',
                '10:30',
                '11:00',
                '11:30',
                '12:00',
                '12:30',
                '13:00',
                '13:30',
                '14:00',
                '14:30',
                '15:00',
                '15:30',
                '16:00',
                '16:30',
                '17:00',
                '17:30'
            ];

            var onClickAppointment = function(payload){
                $("#onClickAppointment").html(JSON.stringify(payload));
            };

            var $scheduler = $("#scheduler").schedulerjs({
                'list': list,
                'steps': steps,
                'pixelsPerHour': 110,
                'start': '09:30',
                'end': '10:30',
                'headName': 'Day',
                'onClickAppointment': onClickAppointment
            });

        });
    </script>
</body>
</html>
